<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todolist</title>

    <!-- Collegamento CSS -->
    <link rel="stylesheet" href="style.css" />
</head>





<body>
    <div id="app">

        <!-- Titolo dell'esercizio -->
        <h1>TodoList</h1>
        <input type="text" v-model="newTodoText" @keyup.enter="addTodo">
        <button @click="addTodo">Aggiungi</button>

        <!-- Lista di attività -->
        <ul>
            <li v-for="(todo, index) in todos" :key="index">
                <span :class="{ 'done': todo.done }">{{ todo.text }}</span>
                <button @click="removeTodo(index)">x</button>
            </li>
        </ul>


    </div>

    <!-- Collegamento Vue 3 -->
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    
    <!-- Collegamento JavaScript -->
    <script src="script.js"></script>
</body>

</html>